body{
    background-color: #1e1e1e;
}
.bg-grey{
    background-color: #1e1e1e;
}

.pt-30{
    padding-top: 30px;
}

.pb-30{
    padding-bottom: 30px;
}
.m-30{
    margin: 30px 30px;
}
.mb-60{
    margin-bottom: 60px;
}
.my-90{
    margin: 90px 0;
}

.carousel-control-next-icon-bg{
    width: 64px;
    height: 64px;
}